<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/style.css'/>
    <script src="/jquery/jquery.js"></script>
    <title>{{title}}</title>
</head>
<body class="main">
{{{body}}}
<script src="/js/interact.js"></script>
<script src="/js/snap.js"></script>
</body>
</html>
